<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>views 文档</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/default.css">
    <style>
        .content {
            padding: 0 15px;
            text-align: justify;
            line-height: 1.5;
        }

        iframe{
            border: 2px #ddd dashed;
            overflow-y: auto;
        }
    </style>
</head>
<body>
<div class="content">
    <h1>导航栏</h1>
    <div class="code">
        <pre><code>&lt;header class=&quot;views-bar views-bar-nav&quot;&gt;
    &lt;a class=&quot;views-btn-left views-pull-left&quot;&gt;
        &lt;span class=&quot;views-iconfont views-icon-left &quot;&gt;&lt;/span&gt;返回
    &lt;/a&gt;
    &lt;div class=&quot;views-title&quot;&gt;只有返回按钮&lt;/div&gt;
&lt;/header&gt;
&lt;header class=&quot;views-bar views-bar-nav views-margin-t-10&quot;&gt;
    &lt;a class=&quot;views-btn-left views-iconfont views-icon-left views-pull-left&quot;&gt;&lt;/a&gt;
    &lt;div class=&quot;views-title&quot;&gt;只有返回按钮&lt;/div&gt;
&lt;/header&gt;
&lt;header class=&quot;views-bar views-bar-nav views-margin-t-10&quot;&gt;
    &lt;a class=&quot;views-btn-left views-iconfont views-icon-left views-pull-left&quot;&gt;&lt;/a&gt;
    &lt;div class=&quot;views-title&quot;&gt;左右带图标&lt;/div&gt;
    &lt;a class=&quot;views-btn-right views-iconfont views-icon-search&quot;&gt;&lt;/a&gt;
&lt;/header&gt;
&lt;header class=&quot;views-bar views-bar-nav views-margin-t-10&quot;&gt;
    &lt;div class=&quot;views-title&quot;&gt;只有标题&lt;/div&gt;
&lt;/header&gt;
&lt;header class=&quot;views-bar views-bar-nav views-margin-t-10&quot; style=&quot;padding-top: 25px&quot;&gt;
    &lt;div class=&quot;views-title&quot;&gt;沉浸状态栏&lt;/div&gt;
&lt;/header&gt;</code></pre>
    </div>
    <iframe class="preview" src="views_bar_iframe.html" frameborder="0" width="360" height="640"></iframe>
</div>
</body>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript" src="../js/highlight.pack.js"></script>
<script type="text/javascript">
    hljs.initHighlightingOnLoad();


</script>
</html>
