<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>views 文档</title>
    <link rel="stylesheet" href="../css/views.css">
    <style>

    </style>
</head>
<body>
<div class="views-content">
    <section class="views-grid views-margin-b-15">
        <div class="views-row">
            <div class="views-col-xs-4">
                <div class="views-badge">88</div>
                <i class="views-iconfont views-icon-home"></i>
                <div class="views-grid-label">首页</div>
            </div>
            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-setting"></i>
                <div class="views-grid-label">设置</div>
            </div>
            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-comment"></i>
                <div class="views-grid-label">评论</div>
            </div>
            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-calendar"></i>
                <div class="views-grid-label">日历</div>
            </div>
            <div class="views-col-xs-4">
                <div class="views-badge">1</div>
                <i class="views-iconfont views-icon-shop"></i>
                <div class="views-grid-label">商店</div>
            </div>
            <div class="views-col-xs-4">
                <div class="views-dot"></div>
                <i class="views-iconfont views-icon-cart"></i>
                <div class="views-grid-label">购物车</div>
            </div>
        </div>
    </section>
</div>
</body>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript">

</script>
</html>
