<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>views 文档</title>
    <link rel="stylesheet" href="../css/views.css">
    <style>
        p{
            font-size: .6rem;
        }
    </style>
</head>
<body>
<div class="views-content">
    <section class="views-grid">
        <div class="row views-text-center">
            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-menu"></i>
                <p>menu</p>
            </div>
            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-cart"></i>
                <p>cart</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-cartfill"></i>
                <p>cart_fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-cart_light"></i>
                <p>cart_light</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-cart_fill_light"></i>
                <p>cart_fill_light</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-warning-circle"></i>
                <p>warning-circle</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-sync"></i>
                <p>sync</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-undo"></i>
                <p>undo</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-redo"></i>
                <p>redo</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-message"></i>
                <p>message</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-poweroff"></i>
                <p>poweroff</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-logout"></i>
                <p>logout</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-piechart"></i>
                <p>pie chart</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-setting"></i>
                <p>setting</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-eye"></i>
                <p>eye</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-location"></i>
                <p>location</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-edit-square"></i>
                <p>edit-square</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-appstore"></i>
                <p>app store</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-detail"></i>
                <p>detail</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-adduser"></i>
                <p>add user</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-deleteteam"></i>
                <p>delete team</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-deleteuser"></i>
                <p>delete user</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-addteam"></i>
                <p>addteam</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-user"></i>
                <p>user</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-team"></i>
                <p>team</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-areachart"></i>
                <p>area chart</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-linechart"></i>
                <p>line chart</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-mobile"></i>
                <p>mobile</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-redenvelope"></i>
                <p>red envelope</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-book"></i>
                <p>book</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-delete"></i>
                <p>delete</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-bell"></i>
                <p>bell</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-skin"></i>
                <p>skin</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-home"></i>
                <p>home</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-bank"></i>
                <p>bank</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-filter"></i>
                <p>filter</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-like"></i>
                <p>like</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-unlike"></i>
                <p>unlike</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-unlock"></i>
                <p>unlock</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-lock"></i>
                <p>lock</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-customerservice"></i>
                <p>customerservice</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-flag"></i>
                <p>flag</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-moneycollect"></i>
                <p>money collect</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-shop"></i>
                <p>shop</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-shopping"></i>
                <p>shopping</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-calendar-check"></i>
                <p>calendar-check</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-calendar"></i>
                <p>calendar</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-scan"></i>
                <p>scan</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-barcode"></i>
                <p>barcode</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-camera"></i>
                <p>camera</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-cloud-upload"></i>
                <p>cloud-upload</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-cloud-download"></i>
                <p>cloud-download</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-qrcode"></i>
                <p>qrcode</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-image"></i>
                <p>image</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-mail"></i>
                <p>mail</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-idcard"></i>
                <p>id card</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-heart"></i>
                <p>heart</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-error"></i>
                <p>error</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-star"></i>
                <p>star</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-wifi"></i>
                <p>wifi</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-edit"></i>
                <p>edit</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-man"></i>
                <p>man</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-pushpin"></i>
                <p>pushpin</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-phone"></i>
                <p>phone</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-tag"></i>
                <p>tag</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-tags"></i>
                <p>tags</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-scissor"></i>
                <p>scissor</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-share"></i>
                <p>share</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-verticalright"></i>
                <p>vertical right</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-verticalleft"></i>
                <p>vertical left</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-right"></i>
                <p>right</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-left"></i>
                <p>left</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-up"></i>
                <p>up</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-down"></i>
                <p>down</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-fullscreen"></i>
                <p>fullscreen</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-fullscreen-exit"></i>
                <p>fullscreen-exit</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-doubleleft"></i>
                <p>doubleleft</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-doubleright"></i>
                <p>double right</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-arrowright"></i>
                <p>arrowright</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-arrowup"></i>
                <p>arrowup</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-arrowleft"></i>
                <p>arrowleft</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-arrowdown"></i>
                <p>arrowdown</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-upload"></i>
                <p>upload</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-download"></i>
                <p>download</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-sort-descending"></i>
                <p>sort-descending</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-sort-ascending"></i>
                <p>sort-ascending</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-swap"></i>
                <p>swap</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-menu"></i>
                <p>menu</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-unorderedlist"></i>
                <p>unordered list</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-orderedlist"></i>
                <p>ordered list</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-check"></i>
                <p>check</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-ellipsis"></i>
                <p>ellipsis</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-close"></i>
                <p>close</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-minus"></i>
                <p>minus</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-question"></i>
                <p>question</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-small-dash"></i>
                <p>small-dash</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-pause"></i>
                <p>pause</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-drag"></i>
                <p>drag</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-gift"></i>
                <p>gift</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-stop"></i>
                <p>stop</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-warning-circle-fill"></i>
                <p>warning-circle-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-heart-fill"></i>
                <p>heart-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-message-fill"></i>
                <p>message-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-mobile-fill"></i>
                <p>mobile-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-book-fill"></i>
                <p>book-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-redenvelope-fill"></i>
                <p>red envelope-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-calendar-check-fill"></i>
                <p>calendar-check-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-image-fill"></i>
                <p>image-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-idcard-fill"></i>
                <p>id card-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-creditcard-fill"></i>
                <p>credit card-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-delete-fill"></i>
                <p>delete-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-shopping-fill"></i>
                <p>shopping-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-bell-fill"></i>
                <p>bell-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-filter-fill"></i>
                <p>filter-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-gift-fill"></i>
                <p>gift-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-home-fill"></i>
                <p>home-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-location-fill"></i>
                <p>location-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-eye-fill"></i>
                <p>eye-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-like-fill"></i>
                <p>like-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-unlike-fill"></i>
                <p>unlike-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-star-fill"></i>
                <p>star-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-unlock-fill"></i>
                <p>unlock-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-phone-fill"></i>
                <p>phone-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-edit-fill"></i>
                <p>edit-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-thunderbolt-fill"></i>
                <p>thunderbolt-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-tag-fill"></i>
                <p>tag-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-tags-fill"></i>
                <p>tags-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-camera-fill"></i>
                <p>camera-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-error-fill"></i>
                <p>error-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-setting-fill"></i>
                <p>setting-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-alipay"></i>
                <p>alipay</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-QQ"></i>
                <p>QQ</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-weibo"></i>
                <p>weibo</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-wechat-fill"></i>
                <p>wechat-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-alipay-circle-fill"></i>
                <p>alipay-circle-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-QQ-circle-fill"></i>
                <p>QQ-circle-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-weibo-circle-fill"></i>
                <p>weibo-circle-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-alipay-square-fill"></i>
                <p>alipay-square-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-QQ-square-fill"></i>
                <p>QQ-square-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-weibo-square-fill"></i>
                <p>weibo-square-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-zoomout"></i>
                <p>zoom out</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-audio"></i>
                <p>audio</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-audio-fill"></i>
                <p>audio-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-zoomin"></i>
                <p>zoom in</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-audiostatic"></i>
                <p>audio static</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-comment"></i>
                <p>comment</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-signal-fill"></i>
                <p>signal-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-switchuser"></i>
                <p>switch user</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-caret-down"></i>
                <p>caret-down</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-backward"></i>
                <p>backward</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-caret-up"></i>
                <p>caret-up</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-caret-right"></i>
                <p>caret-right</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-caret-left"></i>
                <p>caret-left</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-fast-backward"></i>
                <p>fast-backward</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-forward"></i>
                <p>forward</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-fast-forward"></i>
                <p>fast-forward</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-search"></i>
                <p>search</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-step-backward"></i>
                <p>step-backward</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-step-forward"></i>
                <p>step-forward</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-woman"></i>
                <p>woman</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-plus"></i>
                <p>plus</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-eyeclose-fill"></i>
                <p>eye close-fill</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-eye-close"></i>
                <p>eye-close</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-clear"></i>
                <p>clear</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-translate"></i>
                <p>translate</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-compress"></i>
                <p>compress</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-expend"></i>
                <p>expend</p>
            </div>

            <div class="views-col-xs-4">
                <i class="views-iconfont views-icon-send"></i>
                <p>send</p>
            </div>

        </div>
    </section>
</div>
</body>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript">

</script>
</html>
