<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>views 文档</title>
    <link rel="stylesheet" href="../css/views.css">
    <style>

    </style>
</head>
<body>
<header class="views-bar views-bar-nav">
    <a class="views-btn-left views-pull-left">
        <span class="views-iconfont views-icon-left "></span>返回
    </a>
    <div class="views-title">只有返回按钮</div>
</header>
<header class="views-bar views-bar-nav views-margin-t-10">
    <a class="views-btn-left views-iconfont views-icon-left views-pull-left"></a>
    <div class="views-title">只有返回按钮</div>
</header>
<header class="views-bar views-bar-nav views-margin-t-10">
    <a class="views-btn-left views-iconfont views-icon-left views-pull-left"></a>
    <div class="views-title">左右带图标</div>
    <a class="views-btn-right views-iconfont views-icon-search"></a>
</header>
<header class="views-bar views-bar-nav views-margin-t-10">
    <div class="views-title">只有标题</div>
</header>
<header class="views-bar views-bar-nav views-margin-t-10" style="padding-top: 25px">
    <div class="views-title">沉浸状态栏</div>
</header>
</body>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript">

</script>
</html>
