<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>views 文档</title>
    <link rel="stylesheet" href="../css/views.css">
    <style>

    </style>
</head>
<body>
<div class="views-content">
    <div class="views-padded-5" style="text-align: center">普通列表</div>
    <ul class="views-list">
        <li class="views-list-item">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">Item1</div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">Item2</div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">Item3</div>
            </div>
        </li>
    </ul>
</div>
<div class="views-content">
    <div class="views-padded-5" style="text-align: center">普通列表带缩进</div>
    <ul class="views-list views-list-in">
        <li class="views-list-item">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">Item1</div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">Item2</div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">Item3</div>
            </div>
        </li>
    </ul>
</div>
<div class="views-content">
    <div class="views-padded-5" style="text-align: center">普通列表带右箭头</div>
    <ul class="views-list views-list-in">
        <li class="views-list-item views-list-item-arrow">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">Item1</div>
            </div>
        </li>
        <li class="views-list-item views-list-item-arrow">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">Item2</div>
            </div>
        </li>
        <li class="views-list-item views-list-item-arrow">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">Item3</div>
            </div>
        </li>
    </ul>
</div>
<div class="views-content">
    <div class="views-padded-5" style="text-align: center">列表无上下border</div>
    <ul class="views-list views-list-in views-list-noborder">
        <li class="views-list-item views-list-item-arrow">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">Item1</div>
            </div>
        </li>
        <li class="views-list-item views-list-item-arrow">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">Item2</div>
            </div>
        </li>
        <li class="views-list-item views-list-item-arrow">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">Item3</div>
            </div>
        </li>
    </ul>
</div>
<div class="views-content">
    <div class="views-padded-5" style="text-align: center">带有图标的列表</div>
    <ul class="views-list views-list-in">
        <li class="views-list-item">
            <div class="views-list-item-label-icon">
                <i class="views-iconfont views-icon-home"></i>
            </div>
            <div class="views-list-item-inner">
                这是一个列表项
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-list-item-label-icon">
                <i class="views-iconfont views-icon-edit"></i>
            </div>
            <div class="views-list-item-inner">
                这是一个列表项
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-list-item-label-icon">
                <i class="views-iconfont views-icon-camera"></i>
            </div>
            <div class="views-list-item-inner">
                这是一个列表项
            </div>
        </li>
    </ul>
</div>
<div class="views-content">
    <div class="views-padded-5" style="text-align: center">列表带有其他元素</div>
    <ul class="views-list views-list-in">
        <li class="views-list-item">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">text</div>
                <div class="views-list-item-right">信息</div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">label</div>
                <div class="views-list-item-right">
                    <div class="views-label">标签</div>
                </div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-list-item-inner views-list-item-arrow">
                <div class="views-list-item-title">dot</div>
                <div class="views-list-item-right">
                    <div class="views-dot" style="position:relative;top:0; right:0"></div>
                </div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-list-item-inner views-list-item-arrow">
                <div class="views-list-item-title">badge</div>
                <div class="views-list-item-right">
                    <div class="views-badge" style="position:relative;top:0; left:0">88</div>
                </div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-list-item-inner views-list-item-arrow">
                <div class="views-list-item-title">badge</div>
                <div class="views-list-item-right">
                    <div class="views-badge" style="position:relative;top:0; left:0"></div>
                </div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-list-item-inner views-list-item-arrow">
                <div class="views-list-item-title">range</div>
                <div class="views-list-item-right">
                    <div class="views-range">
                        <input type="range" class="views-range" value="0" max="100" min="1" step="1" id="range" oninput="$api.css(this, 'background-size:'+this.value+'% 100%');"/>
                    </div>
                </div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">switch</div>
                <div class="views-switch views-switch-mini views-active">
                    <div class="views-switch-handle"></div>
                </div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">radio</div>
                <div class="views-list-item-right">
                    <input type="radio" class="views-radio" checked>
                </div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">checkbox</div>
                <div class="views-list-item-right">
                    <input type="checkbox" class="views-checkbox" checked>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="views-content">
    <div class="views-padded-5" style="text-align: center">图文列表</div>
    <ul class="views-list views-media-list">
        <li class="views-list-item views-list-item-arrow">
            <div class="views-media-list-item-inner">
                <div class="views-list-item-inner">
                    <div class="views-list-item-text">
                        <div class="views-list-item-title">标题展示内容</div>
                        <div class="views-list-item-right">05:20</div>
                    </div>
                    <div class="views-list-item-text views-ellipsis-2">
                        这里是内容区域，列表布局可以很轻松的帮助开发者完成常见列表样式。
                    </div>
                </div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-media-list-item-inner">
                <div class="views-list-item-media">
                    <img src="../image/demo1.png">
                </div>
                <div class="views-list-item-inner">
                    <div class="views-list-item-text">
                        <div class="views-list-item-title">带有图片的列表</div>
                        <div class="views-list-item-right">05:20</div>
                    </div>
                    <div class="views-list-item-text">
                        列表内容，这里可以展示很多内容，不妨自己试试。
                    </div>
                </div>
            </div>
            <div class="views-info" style="padding-top:0">
                <div class="views-info-item">
                    <img src="../image/demo2.png" style="width:1rem" class="views-img-round"/><span
                        class="views-margin-l-5">APICloud</span>
                </div>
                <div class="views-info-item">2019-07-11 14:23</div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-media-list-item-inner">
                <div class="views-list-item-media">
                    <img src="../image/demo1.png">
                </div>
                <div class="views-list-item-inner">
                    <div class="views-list-item-text">
                        <div class="views-list-item-title">带有图片的列表</div>
                        <div class="views-list-item-right">05:20</div>
                    </div>
                    <div class="views-list-item-text">
                        这里是内容区域，列表布局可以很轻松的帮助开发者完成常见列表样式，不妨动手写写试试。
                    </div>
                    <div class="views-info views-margin-t-5" style="padding:0">
                        <div class="views-info-item">
                            <img src="../image/demo2.png" style="width:1rem" class="views-img-round"/><span
                                class="views-margin-l-5">APICloud</span>
                        </div>
                        <div class="views-info-item">2019-07-11 14:23</div>
                    </div>
                </div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-media-list-item-inner">
                <div class="views-list-item-inner">
                    <div class="views-list-item-title">图片右侧显示</div>
                    <div class="views-list-item-text">
                        这里是内容区域，列表布局可以很轻松的帮助开发者完成常见列表样式，不妨动手写写试试。
                    </div>
                </div>
                <div class="views-list-item-media">
                    <img src="../image/demo3.png">
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="views-content views-margin-b-15">
    <div class="views-padded-5" style="text-align: center">结合栅格系统来实现九宫格图文</div>
    <ul class="views-list views-media-list">
        <li class="views-list-item">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">多张图片列表一</div>
                <p>借助栅格来实现图片列表</p>
                <div class="views-row views-row-padded">
                    <div class="views-col-xs-4">
                        <img src="../image/demo1.png"/>
                    </div>
                    <div class="views-col-xs-4">
                        <img src="../image/demo2.png"/>
                    </div>
                    <div class="views-col-xs-4">
                        <img src="../image/demo3.png"/>
                    </div>
                </div>
            </div>
        </li>
        <li class="views-list-item">
            <div class="views-list-item-inner">
                <div class="views-list-item-title">多张图片列表一</div>
                <p>借助栅格来实现图片列表</p>
                <div class="views-row views-row-padded">
                    <div class="views-col-xs-4">
                        <img src="../image/demo1.png"/>
                    </div>
                    <div class="views-col-xs-4">
                        <img src="../image/demo2.png"/>
                    </div>
                    <div class="views-col-xs-4">
                        <img src="../image/demo3.png"/>
                    </div>
                    <div class="views-col-xs-4">
                        <img src="../image/demo1.png"/>
                    </div>
                    <div class="views-col-xs-4">
                        <img src="../image/demo2.png"/>
                    </div>
                    <div class="views-col-xs-4">
                        <img src="../image/demo3.png"/>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="views-content views-margin-b-15">
    <ul class="views-list views-media-list">
        <li class="views-list-item views-list-item-middle">
            <div class="views-media-list-item-inner">
                <div class="views-list-item-media" style="width: 3rem;">
                    <img src="../image/demo3.png" class="views-img-round views-list-img-sm">
                </div>
                <div class="views-list-item-inner views-list-item-arrow">
                    <div class="views-list-item-text">
                        <div class="views-list-item-title views-font-size-14">APICloud</div>
                        <div class="views-list-item-right">05:20</div>
                    </div>
                    <div class="views-list-item-text">
                        www.apicloud.com
                    </div>
                </div>
            </div>
        </li>
        <li class="views-list-item views-list-item-middle">
            <div class="views-media-list-item-inner">
                <div class="views-list-item-media" style="width: 3rem;">
                    <img src="../image/demo2.png" class="views-img-round views-list-img-sm">
                </div>
                <div class="views-list-item-inner views-list-item-arrow">
                    APICloud
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript">

</script>
</html>
