<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>views 文档</title>
    <link rel="stylesheet" href="../css/views.css">
    <style>

    </style>
</head>
<body>
<div class="views-content views-padded-15">
    <p><div class="views-btn">默认按钮</div>
    <p><div class="views-btn"><span class="views-iconfont views-icon-camera"></span>带有图标按钮</div>
    <p><div class="views-btn views-btn-primary">默认按钮 primary</div>
    <p><div class="views-btn views-btn-danger">默认按钮 danger</div>
    <p><div class="views-btn views-btn-outlined views-btn-sm">默认按钮 outlined</div>
    <p><div class="views-btn views-btn-block views-btn-sm">默认按钮 btn-sm</div>
    <p><div class="views-btn views-btn-block views-btn-sm views-btn-primary">默认按钮 btn-sm</div>
    <p><div class="views-btn views-btn-block views-btn-sm views-btn-danger">默认按钮 btn-sm</div>
    <p><div class="views-btn views-btn-outlined views-btn-block views-btn-sm">默认按钮 btn-sm</div>
    <p><div class="views-btn views-btn-outlined views-btn-block views-btn-sm views-btn-primary">默认按钮 btn-sm</div>
    <p><div class="views-btn views-btn-outlined views-btn-block views-btn-sm views-btn-danger">默认按钮 btn-sm</div>
    <p><div class="views-btn views-btn-block views-btn-primary">默认按钮 block</div>
    <p><div class="views-btn views-btn-outlined views-btn-block ">默认按钮 block outlined</div>
</div>
</body>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript">

</script>
</html>
