<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>views 文档</title>
    <link rel="stylesheet" href="../css/views.css">
    <style>

    </style>
</head>
<body>
<footer class="views-bar views-bar-tab">
    <div class="views-bar-tab-item views-active">
        <i class="views-iconfont views-icon-home"></i>
        <div class="views-bar-tab-label">首页</div>
    </div>
    <div class="views-bar-tab-item">
        <i class="views-iconfont views-icon-star"></i>
        <div class="views-bar-tab-label">收藏</div>
    </div>
    <div class="views-bar-tab-item">
        <div class="views-badge">99</div>
        <i class="views-iconfont views-icon-cart"></i>
        <div class="views-bar-tab-label">购物车</div>
    </div>
    <div class="views-bar-tab-item">
        <div class="views-dot"></div>
        <i class="views-iconfont views-icon-user"></i>
        <div class="views-bar-tab-label">我的</div>
    </div>
</footer>
</body>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript">

</script>
</html>
