<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>views 文档</title>
    <link rel="stylesheet" href="../css/views.css">
    <style>

    </style>
</head>
<body>
<section class="views-content ">
    <div class="views-popover">
        <ul class="views-list views-list-noborder">
            <li class="views-list-item">
                <div class="views-list-item-inner">
                    <div class="views-list-item-title">Item1</div>
                </div>
            </li>
            <li class="views-list-item">
                <div class="views-list-item-inner">
                    <div class="views-list-item-title">Item2</div>
                </div>
            </li>
            <li class="views-list-item">
                <div class="views-list-item-inner">
                    <div class="views-list-item-title">Item3</div>
                </div>
            </li>
        </ul>
        <ul class="views-list views-margin-t-15 views-list-noborder">
            <li class="views-list-item">
                <div class="views-list-item-inner">
                    <div class="views-list-item-title">取消</div>
                </div>
            </li>
        </ul>
    </div>
</section>
</body>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript">

</script>
</html>
