<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>views 文档</title>
    <link rel="stylesheet" href="../css/views.css">
    <style>

    </style>
</head>
<body>
<div class="views-content">
    <div class="views-card-list">
        <div class="views-card-list-header">
            <div>卡片列表头部标题区域</div>
            <i class="views-iconfont views-icon-star views-text-danger"></i>
        </div>
        <div class="views-card-list-content-padded">
            内容文本区域，可以写很多内容，不信你试试。内容文本区域，可以写很多内容，不信你试试。
            <img src="../image/demo3.png">
        </div>
        <div class="views-card-list-footer views-font-size-12">
            <div><i class="views-iconfont views-icon-like views-font-size-14"></i> 666</div>
            <div><i class="views-iconfont views-icon-comment views-font-size-14"></i> 888</div>
            <div><i class="views-iconfont views-icon-star views-font-size-14"></i> 888</div>
        </div>
    </div>
</div>
<div class="views-content">
    <div class="views-card-list">
        <div class="views-card-list-header">更好的组合模式</div>
        <div class="views-card-list-content-padded">
            <div class="views-row views-row-padded">
                <div class="views-col-xs-4">
                    <img src="../image/demo1.png"/>
                </div>
                <div class="views-col-xs-4">
                    <img src="../image/demo2.png"/>
                </div>
                <div class="views-col-xs-4">
                    <img src="../image/demo3.png"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript">

</script>
</html>
