<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>views 文档</title>
    <link rel="stylesheet" href="../css/views.css">
    <style>

    </style>
</head>
<body>
<section class="views-content">
    <div class="views-timeline">
        <div class="views-timeline-item-header">2019年07月12日</div>
        <div class="views-timeline-item">
            <div class="views-timeline-item-label views-bg-info text-light">05:20</div>
            <div class="views-timeline-item-inner">
                <div class="views-card-list">
                    <div class="views-card-list-header">
                        <div>时间轴搭配卡片列表</div>
                        <i class="views-iconfont views-icon-star views-text-danger"></i>
                    </div>
                    <div class="views-card-list-content-padded">
                        与卡片列表布局结合可以完成丰富的布局样式
                        <img src="../image/demo3.png">
                    </div>
                    <div class="views-card-list-footer views-font-size-12">
                        <div><i class="views-iconfont views-icon-like views-font-size-14"></i> 666</div>
                        <div><i class="views-iconfont views-icon-comment views-font-size-14"></i> 888</div>
                        <div><i class="views-iconfont views-icon-star views-font-size-14"></i> 888</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="views-timeline-item">
            <div class="views-timeline-item-label-icon views-bg-danger">
                <i class="views-iconfont views-icon-like text-light"></i>
            </div>
            <div class="views-timeline-item-inner">
                <div class="views-card-list">
                    <div class="views-card-list-content-padded">
                        APICloud是App混合开发平台，致力于方便开发者及企业体验混合开发的乐趣，加快应用迭代，降低成本。
                    </div>
                </div>
            </div>
        </div>
        <div class="views-timeline-item">
            <div class="views-timeline-item-label views-bg-warning text-light">09:00</div>
            <div class="views-timeline-item-inner">
                <div class="views-card-list">
                    <div class="views-card-list-header">更多的组合模式</div>
                    <div class="views-card-list-content-padded">
                        <div class="views-row views-row-padded">
                            <div class="views-col-xs-4">
                                <img src="../image/demo1.png"/>
                            </div>
                            <div class="views-col-xs-4">
                                <img src="../image/demo2.png"/>
                            </div>
                            <div class="views-col-xs-4">
                                <img src="../image/demo3.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="views-timeline-item">
            <div class="views-timeline-item-label views-bg-success text-light">18:30</div>
            <div class="views-timeline-item-inner">
                <div class="views-card-list">
                    <div class="views-card-list-header ">更多的组合模式</div>
                    <div class="views-card-list-content">
                        <ul class="views-list views-list-in views-media-list views-list-noborder">
                            <li class="views-list-item views-list-item-middle">
                                <div class="views-media-list-item-inner">
                                    <div class="views-list-item-media" style="width: 2.6rem;">
                                        <img src="../image/demo1.png" class="views-img-round">
                                    </div>
                                    <div class="views-list-item-inner views-list-item-arrow">
                                        <div class="views-list-item-text">
                                            <div class="views-list-item-title views-font-size-14">APICloud</div>
                                            <div class="views-list-item-right">05:20</div>
                                        </div>
                                        <div class="views-list-item-text">
                                            www.apicloud.com
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="views-list-item views-list-item-middle">
                                <div class="views-media-list-item-inner">
                                    <div class="views-list-item-media" style="width: 2.6rem;">
                                        <img src="../image/demo2.png" class="views-img-round">
                                    </div>
                                    <div class="views-list-item-inner views-list-item-arrow">
                                        APICloud
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="views-card-list-footer views-text-center">
                        查看更多
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript">

</script>
</html>
