<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>views 文档</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/default.css">
    <style>
        .content {
            padding: 0 15px;
            text-align: justify;
            line-height: 1.5;
        }
    </style>
</head>
<body>
<div class="content">
    <h1>常用辅助样式</h1>
    <h2>布局外层容器</h2>
    <p>views-content：iOS自然滚动</p>
    <h2>自动隐藏文字</h2>
    <p>views-ellipsis 单行文本超出省略号，注意要设置宽度</p>
    <p>views-ellipsis-2 两行文本超出省略号，注意要设置宽度</p>
    <h2>内边距</h2>
    <p>views-padded-数值，四个方向的内边距，数值有0，5，10，15</p>
    <p>views-padded-位置-数值，控制某个方向的内边距，位置有t（顶部），b（顶部），l（左侧），r（右侧），数值有0，5，10，15</p>
    <h2>外边距</h2>
    <p>views-margin-数值，四个方向的外边距，数值有0，5，10，15</p>
    <p>views-margin-位置-数值，控制某个方向的外边距，位置有t（顶部），b（顶部），l（左侧），r（右侧），数值有0，5，10，15</p>
    <h2>文字相关</h2>
    <p>views-text-位置，位置有left，center，right，justify</p>
    <p>views-font-数值，文字大小，数值有12，14，16，18，20</p>
    <h2>颜色</h2>
    <p>views-black-透明度，透明度值有85，65，45，25，15，9，4，2</p>
    <p>views-white-透明度，透明度值有100，85，65，45，25，15，9，4</p>
    <img src="../image/views_color.png" alt="" style="max-width: 90%">
    <h2>遮罩层</h2>
    <p>views-mask 遮罩层，层序为99，views-mask-in 显示遮罩层，views-mask-out 隐藏遮罩层</p>
    <h2>其他</h2>
    <p>views-clearfix 清除浮动</p>
    <p>views-pull-left 左对齐</p>
    <p>views-pull-right 右对齐</p>
    <p>views-show 显示</p>
    <p>views-hide 隐藏（隐藏容器不占空间）</p>
    <p>views-invisible 隐藏（隐藏后继续占用布局空间）</p>
    <p>views-scroll-x 横向滚动</p>
    <p>views-scroll-y 纵向滚动</p>
</div>
</body>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript" src="../js/highlight.pack.js"></script>
<script type="text/javascript">
    hljs.initHighlightingOnLoad();


</script>
</html>
