<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>views 文档</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/default.css">
    <style>
        .content {
            padding: 0 15px;
            text-align: justify;
            line-height: 1.5;
        }

        iframe{
            border: 2px #ddd dashed;
            overflow-y: auto;
        }
    </style>
</head>
<body>
<div class="content">
    <h1>底部导航栏</h1>
    <div class="code">
        <pre><code>&lt;footer class=&quot;views-bar views-bar-tab&quot;&gt;
    &lt;div class=&quot;views-bar-tab-item views-active&quot;&gt;
        &lt;i class=&quot;views-iconfont views-icon-home&quot;&gt;&lt;/i&gt;
        &lt;div class=&quot;views-bar-tab-label&quot;&gt;首页&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;views-bar-tab-item&quot;&gt;
        &lt;i class=&quot;views-iconfont views-icon-star&quot;&gt;&lt;/i&gt;
        &lt;div class=&quot;views-bar-tab-label&quot;&gt;收藏&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;views-bar-tab-item&quot;&gt;
        &lt;div class=&quot;views-badge&quot;&gt;99&lt;/div&gt;
        &lt;i class=&quot;views-iconfont views-icon-cart&quot;&gt;&lt;/i&gt;
        &lt;div class=&quot;views-bar-tab-label&quot;&gt;购物车&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;views-bar-tab-item&quot;&gt;
        &lt;div class=&quot;views-dot&quot;&gt;&lt;/div&gt;
        &lt;i class=&quot;views-iconfont views-icon-user&quot;&gt;&lt;/i&gt;
        &lt;div class=&quot;views-bar-tab-label&quot;&gt;我的&lt;/div&gt;
    &lt;/div&gt;
&lt;/footer&gt;</code></pre>
    </div>
    <iframe class="preview" src="views_tabbar_iframe.html" frameborder="0" width="360" height="640"></iframe>
</div>
</body>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript" src="../js/highlight.pack.js"></script>
<script type="text/javascript">
    hljs.initHighlightingOnLoad();


</script>
</html>
