<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>views 文档</title>
    <link rel="stylesheet" href="../css/views.css">
    <style>

    </style>
</head>
<body>
<div class="views-content">
    <div class="views-tips">
        <i class="views-iconfont views-icon-warning-circle"></i>
        <div class="views-tips-title">消息提示条消息提示条消息提示</div>
        <i class="views-iconfont views-icon-close"></i>
    </div>
</div>
</body>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript">

</script>
</html>
