<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>views 文档</title>
    <link rel="stylesheet" href="../css/views.css">
    <style>

    </style>
</head>
<body>
<div class="views-tab">
    <div class="views-tab-item views-active">文档</div>
    <div class="views-tab-item">论坛</div>
    <div class="views-tab-item">控制台</div>
    <div class="views-tab-item">UI框架</div>
</div>
</body>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript">

</script>
</html>
