<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>views 文档</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/default.css">
    <style>
        .content {
            padding: 0 15px;
            text-align: justify;
            line-height: 1.5;
        }
    </style>
</head>
<body>
<div class="content">
    <h1>概述</h1>
    <h2>简介</h2>
    <p>Views 是APICloud官方提供的UI组件，结合实际项目中具体的需求及开发经验，同时借鉴了AUI及市面上其他框架的优秀思想，
        打造一款符合APICloud使用的UI框架，符合时下最常见的布局结构。</p>
    <p>在Views框架中，依然使用rem单位作为布局，完美适配不同分辨率的设备，默认尺寸为20px，即：1rem = 20px。</p>
    <h2>快速开始</h2>
    <p>在html当中加入</p>
    <pre><code class="html">&lt;meta charset="utf-8"&gt;
&lt;meta name="viewport"content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/&gt;
&lt;meta name="format-detection" content="telephone=no,email=no,date=no,address=no"&gt;
&lt;title&gt;Views UI框架&lt;/title&gt;
&lt;link rel="stylesheet" type="text/css" href="../css/views.css" /&gt;</code></pre>
    <h2>意见反馈</h2>
    <p>QQ群：内测为版主群</p>
    <p>论坛反馈区：待开放</p>
</div>
</body>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript" src="../js/highlight.pack.js"></script>
<script type="text/javascript">
    hljs.initHighlightingOnLoad();


</script>
</html>
